/* ========================================================
   View Wrapper and Contianer
   ======================================================== */

.welcome-wrapper {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #ffcb60;
  box-sizing: border-box;
  border: 30px solid #333;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "logo form";

    position: absolute;
    height: 450px;
    width: 750px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
  }

  .container-small {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "form";

    position: absolute;
    height: 450px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
  }
}


/* ========================================================
   Side Logo
   ======================================================== */

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 350px;
  }
}

/* ========================================================
   Sign in Form
   ======================================================== */

.welcome-form-wrapper {
  grid-area: form;
  text-align: center;

  h2 {
    margin-top: 45px;
    margin-bottom: 55px;
    color: #333;
  }
  
  .input-field {
    width: 50%;
    padding: 10px 30px;
    margin-bottom: 10px;
    color: #777;
    background: #e6e6e6;
    font-weight: bold;
    line-height: 1.5;
    border: 1px solid #e6e6e6;
    border-radius: 25px;
  }

  .submit-button {
    width: 65%;
    padding: 12px 10px;
    margin-top: 10px;
    color: #fff;
    background: #ff6f69 ;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ff6f69 ;
    border-radius: 25px;
    transition: .4s ease;

    &:hover {
      background: #000;
      border: 1px solid #000;
      cursor: pointer;
    }
  }

  .forgot, .create-account, .other-links {
    text-align: center;
    margin-top: 15px;
    color: #888;
    font-size: 12px;

    a {
      color: #333;
      text-decoration: none;
      transition: .2s ease;

      &:hover {
        color: #ff6f69 ; 
      }
    }
  }

  .create-account, .other-links {
    margin-top: 80px;
  }

  .other-links {
    font-size: 18px;
  }
  
}