.welcome-wrapper {
  height: 100vh;
  background: #f6cd61 ;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 960px;
    margin: 0 auto;

    form {
      height: 600px;
      width: 800px;
      background: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 14px;
    }
  }
}