/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ========================================================
   Login and Signup
   ======================================================== */

.authentication-wrapper {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: #fbc33c;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "logo form";

    position: absolute;
    height: 450px;
    width: 750px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
  }

  .container-small {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "form";

    position: absolute;
    height: 450px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
  }
}

/* Side Logo
   ========================================================= */

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 350px;
  }
}

/* Authentication Form Wrapper
   ========================================================= */

.authentication-form-wrapper {
  grid-area: form;
  text-align: center;

  h2 {
    margin-top: 45px;
    margin-bottom: 55px;
    color: #333;
  }
  
  .input-field {
    width: 50%;
    padding: 10px 30px;
    margin-bottom: 10px;
    color: #777;
    background: #e6e6e6;
    font-weight: bold;
    line-height: 1.5;
    border: 1px solid #e6e6e6;
    border-radius: 24px;
    transition: .25s ease-out;

    &:focus {
      box-shadow: 0 0 5px #007bff;
    }
  }

  /* Submit button styling */

  .submit-button {
    width: 65%;
    padding: 12px 10px;
    margin-top: 10px;
    color: #fff;
    background: #007bff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #007bff;
    border-radius: 24px;
    transition: .4s ease;

    &:hover {
      background: #000;
      border: 1px solid #000;
      cursor: pointer;
    }
  }

  /* Link styling */

  .forgot, .create-account, .other-links {
    text-align: center;
    margin-top: 15px;
    color: #777;
    font-size: 12px;

    a {
      color: #333;
      text-decoration: none;
      transition: .2s ease;

      &:hover {
        color: #007bff ; 
      }
    }
  }

  .create-account {
    margin-top: 80px;
  }

  .other-links {
    margin-top: 40px;
    font-size: 18px;
  }

}

/* =========================================================
   Home
   ========================================================= */

.home-wrapper {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  // background: #fbc33c;
  background: #a8d0e6;
  border: 1px solid transparent;
  
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
      "side main";

    grid-gap: 50px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/* Header
   ========================================================= */

.home-header {
  margin-top: 20px;
  color: #fff;
  text-align: center;

  h1 {
    font-size: 48px;
  }
}

/* Side Navigation
   ========================================================= */

.side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin-top: 20%;

  input[type="radio"] {
    visibility: hidden;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Buttons for side navigation */

  .side-button {
    width: 90%;
    padding: 8px 0 8px 24px;
    margin-top: 10px;
    background: transparent;
    font-size: 24px;
    border: none;
    border-radius: 24px;
    text-align: left;
    transition: .1s ease;
    cursor: pointer;

    &:hover {
      background: #e6e6e6;
    }

    &:active {
      background: #bebebe;
    }
  }

  /* Selected class for the current page */

  .selected {
    color: #fff;
    background: #007bff;
    // background: #f76c6c;

    &:hover {
      color: #fff;
      background: #007bff;
      // background: #f76c6c;
    }

    &:active {
      background: #0073ee;
      // background: #f16363;
    }
  }

  hr {
    width: 90%;
    border: 1px solid black;
  }

  /* Add room and sign out buttons */
  
  .submit-button {
    display: block;
    width: 90%;
    padding: 4px 0;
    margin: 10px auto 0 auto;
    color: #e5e5e5;
    background: #003874;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #003874;
    transition: .2s ease;

    &:hover {
      color: #fff;
      background: #000;
      border: 1px solid #000;
      cursor: pointer;
    }
  }
}


/* Modal
   ========================================================= */

/* Background */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Content */

.modal-content {
  width: 400px;
  margin: 15% auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 12px;
  text-align: center;

  .input-field {
    display: block;
    width: 50%;
    padding: 8px 20px;
    margin: 10px auto 20px auto;
    color: #777;
    background: #e6e6e6;
    font-weight: bold;
    line-height: 1.5;
    border: 1px solid #e6e6e6;
    border-radius: 24px;
  }

  .submit-button {
    padding: 10px 14px;
    margin: 0 10px;
    color: #fff;
    background: #fbc33c;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #fabf37;
    border-radius: 12px;
    vertical-align: top;
    transition: .2s ease;

    &:hover {
      background: #007bff;
      border: 1px solid #007bff;
      cursor: pointer;
    }

    &:active {
      background: #0073ee;
    }
  }
}

#close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover, &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}


/* Main Panel
   ========================================================= */

.main {
  grid-area: main;
  margin-bottom: 100px;

  .rooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 75px;
    margin-top: 25px;
  }

  .room-card {
    position: relative;
    max-width: 200px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    }

    h4 {
      padding: 8px 0;
      margin-top: 0;
      color: #fff;
      background: #003874;
      text-align: center;
    }

    p {
      margin-left: 10px;
    }

    /* Makes the link_to method take up the entire div and make it clickable */

    span {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
    }
  }
}

/* ========================================================
   Chat Room
   ======================================================== */

.chatroom-wrapper {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: #003874;
}

.chatroom-header {
  color: #fff;
  text-align: center;

  h1 {
    padding: 10px;
    margin: 0;
  }
}

// .messages {
//   height: 70vh;
// }

.form-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.text-field {
  display: inline-block;
  width: 75%;
  height: 40px;
  max-height: 40px;
  padding: 8px 32px;
  margin-left: 20px;
  color: #777;
  background: #e6e6e6;
  font-weight: bold;
  line-height: 1.5;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  resize: none;
}

.submit-message {
  padding: 18px 40px;
  margin: 0 10px;
  color: #fff;
  background: #fbc33c;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #fabf37;
  border-radius: 12px;
  vertical-align: top;
  transition: .2s ease;

  &:hover {
    background: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
  }

  &:active {
    background: #0073ee;
  }
}